@import 'semantic-ui';

.chatbox {
    height: 450px;
}

.custom-mbt { 
    margin-bottom:20px;
 }
 .custom-mt {
     margin-top: 20px;
 }

 #messages {
     height: 15em;
     overflow: auto;
 }

 h1 {
     margin-top: 10cm;
 }

 .input {
     button {
         display: none;
     }
 }